.cardContainer {
    width: 240px;
    background-color: #191919 !important;
    border: none !important;
    border-radius: 10px !important;
    overflow: hidden !important;
}

.thumbView {
    width: 60px;
    border-radius: 30px;
    height: 40px;
    align-items: center;
}

.collectionBtn {
    border: 1px solid #D54343 !important;
    background-color: transparent !important;
    color: #CCCCCC !important;
    width: 100% !important;
    height: 40px !important;
    border-radius: 10px !important;
}

@media only screen and (max-width: 600px) {
    .cardContainer {
        width: auto;
    }
}