.video-top {
  object-fit: cover !important;
  border-radius: 10px !important;
  height: 150px;
  width: 150px;
}

.topnftdparentdiv {
  position: relative;
  overflow: hidden;
}

.published_span {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  top: 23px;
  left: -28px;
  width: 125px;
}

.published {
  width: 100%;
  height: 100%;
  background-color: #1aae17;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.notpublished {
  width: 100%;
  height: 21.92px;
  background-color: #ff9900;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 10px;
}

.truncate-text {
  width: 110px; /* Specify the width of the container */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Display an ellipsis (...) to indicate truncated text */
}