.center {
    align-items: center !important;
}

.dark-blue {
    color: #10101c !important;
}

.bg-dark-blue {
    background-color: #10101c !important;
}

.dark-blue2 {
    color: #161624 !important;
}

.bg-dark-blue2 {
    background-color: #161624 !important;
}

.dark-blue3 {
    color: #222235 !important;
}

.bg-dark-blue3 {
    background-color: #222235 !important;
}

.red {
    color: #b32f2f !important;
}

.bg-red {
    background-color: #b32f2f !important;
}

.red2 {
    color: #F26464 !important;
}

.yellow {
    color: #FFB648 !important;
}

.light-grey {
    color: #B9B9B9 !important;
}

.green {
    color: #4BDE97 !important;
}

.grey-border {
    border: 1px solid #DFE0EB !important;
}

.grey-border-bottom {
    border-bottom: 1px solid #313148 !important;
}

.grey-border-top {
    border-top: 1px solid #313148 !important;
}

.white {
    color: white !important;
}

.pink{
    color: #B52269 !important;
}

.cursor {
    cursor: pointer;
}

.radius1 {
    border-radius: 10px;
}

.radius2 {
    border-radius: 20px;
}

.semi-bold {
    font-weight: 600 !important;
}

.regular {
    font-weight: 400 !important;
}