.red-gradient {
    background-image: linear-gradient(#f45c5c, #7e1c1c) !important;
}

.red-gradient-color {
    background: -webkit-linear-gradient(#f45c5c, #7e1c1c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.black-background{
    background-color: #222222 !important;
}

.semi-bold {
    font-weight: 600 !important;
}

.regular {
    font-weight: 400 !important;
}

.light-grey {
    color: #b0b0b0 !important;
}

.red {
    color: #D54343 !important;
}

.red-background {
    background-color: #D54343 !important;
}

.cursor{
    cursor: pointer;
}

.white{
    color: white !important;
}