.uploadView {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #B23232;
    cursor: pointer;
    width: 300px;
    height: 180px;
    justify-content: center;
}

.collectionFirstContainer {
    padding: 70px;
    align-items: center;
}

.searchStyle {
    border-radius: 20px !important;
    /* background-color: #2b2b2b !important; */
    color: #666666 !important;
    border: none !important;
    padding-left: 15px !important;
}

.searchStyle::placeholder {
    color: #666666 !important;
}

.searchStyle:focus {
    box-shadow: none !important;
}

@media only screen and (max-width: 600px) {
    .collectionFirstContainer {
        flex-wrap: wrap;
        padding: 0px;
    }


    .uploadView {
        justify-content: center;
        margin-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .uploadView1 {
        width: 100%;
    }
}