.btnDesign {
    color: white !important;
    width: 100% !important;
    border: none !important;
}

.btnDesign:focus {
    border: none !important;
}

.simpleBtnDesign {
    color: white !important;
    width: 100% !important;
    border-radius: 10px !important;
    height: 40px !important;
    border: none !important;
}

.simpleBtnDesign:focus {
    border: none !important;
}