.manuStyle   {
    background-color: rgba(0, 0, 0, .7) !important;
    height: 89vh;
    border-top-right-radius: 40px;
    box-shadow: none;
}
/* 
.manuStyle:focus{
    background-color: red !important;
} */
