.about-us-container{
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.about-us{
    width: 70%;
    font-size: 18px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .about-us{
        width: 100%;
    }
}