body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-notification-notice {
  margin-top: 3rem;
}

.ql-toolbar {
  background-color: #C4C4C499;
}

.ql-toolbar, .ql-toolbar  *{
  color: red !important;
}

.ql-toolbar svg {
  fill: red !important;
}