.dashboardBtns {
    border: 1px solid #D54343 !important;
    border-radius: 20px !important;
    height: 40px !important;
}

.dashboardCards {
    width: 260px;
    background-color: transparent !important;
    border: none !important;
    border-radius: 10px !important;
    overflow: hidden !important;
}

.coverIframe {
    background-color: transparent !important;
    border: none !important;
    border-radius: 10px !important;
    overflow: hidden !important;
}

.dashboardTitle {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .dashboardTitle {
        width: 100%;
        margin-bottom: 30px;
    }
    .breakline{
        display: none;
    }
}